appPublic
arrow
beautifulsoup4
binaryornot
botocore
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
deepl
dropbox
et-xmlfile
flask
gdeltdoc
idna
Jinja2
jinja2-time
jmespath
MarkupSafe
newsapi-python
newsdataapi
newsdataio
numpy
openpyxl
pandas
ply
python-dateutil
python-dotenv
python-slugify
pytz
PyYAML
requests
six
slack_bolt
slack-sdk
slackeventsapi
soupsieve
stone
text-unidecode
tzdata
uninews
urllib3
openai
